@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold.ttf') format('truetype'),
    url('../fonts/Gotham-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham-Book.ttf') format('truetype'),
    url('../fonts/Gotham-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: local('☺'), url('../fonts/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?3969123');
  src: url('../fonts/icomoon.eot?3969123#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?3969123') format('woff2'),
    url('../fonts/icomoon.woff?3969123') format('woff'),
    url('../fonts/icomoon.ttf?3969123') format('truetype'),
    url('../fonts/icomoon.svg?3969123#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-home:before {
  content: '\e800';
} /* '' */
.icon-filtros:before {
  content: '\e900';
} /* '' */
.icon-avion:before {
  content: '\e901';
} /* '' */
.icon-billetera:before {
  content: '\e902';
} /* '' */
.icon-borrar:before {
  content: '\e903';
} /* '' */
.icon-caja:before {
  content: '\e904';
} /* '' */
.icon-candado:before {
  content: '\e905';
} /* '' */
.icon-casa:before {
  content: '\e906';
} /* '' */
.icon-check:before {
  content: '\e907';
} /* '' */
.icon-edificio-1:before {
  content: '\e908';
} /* '' */
.icon-edificio-2:before {
  content: '\e909';
} /* '' */
.icon-edificio-3:before {
  content: '\e90a';
} /* '' */
.icon-editar-1:before {
  content: '\e90b';
} /* '' */
.icon-editar-2:before {
  content: '\e90c';
} /* '' */
.icon-estrella:before {
  content: '\e90d';
} /* '' */
.icon-exportar:before {
  content: '\e90e';
} /* '' */
.icon-facebook:before {
  content: '\e90f';
} /* '' */
.icon-hablar:before {
  content: '\e910';
} /* '' */
.icon-instagram:before {
  content: '\e911';
} /* '' */
.icon-linkedin:before {
  content: '\e912';
} /* '' */
.icon-luna:before {
  content: '\e913';
} /* '' */
.icon-mensaje:before {
  content: '\e914';
} /* '' */
.icon-mundo:before {
  content: '\e915';
} /* '' */
.icon-ojo-1:before {
  content: '\e916';
} /* '' */
.icon-ojo-2:before {
  content: '\e917';
} /* '' */
.icon-papel:before {
  content: '\e918';
} /* '' */
.icon-privilegios:before {
  content: '\e919';
} /* '' */
.icon-reloj:before {
  content: '\e91a';
} /* '' */
.icon-shooping:before {
  content: '\e91b';
} /* '' */
.icon-socios:before {
  content: '\e91c';
} /* '' */
.icon-sol:before {
  content: '\e91d';
} /* '' */
.icon-tarjeta:before {
  content: '\e91e';
} /* '' */
.icon-telefono:before {
  content: '\e91f';
} /* '' */
.icon-twitter:before {
  content: '\e920';
} /* '' */
.icon-viaje:before {
  content: '\e921';
} /* '' */
.icon-youtube:before {
  content: '\e922';
} /* '' */
